body {
    font-family: 'Montserrat', sans-serif;
    width: 100vw;
    overflow-x: hidden;
}

header {
    background: linear-gradient(107.2deg, #FBE38F 1.65%, #F1D256 100.77%);
    /* min-height:100vh ; */
}

#burgerBtn {
    border: none;
    box-shadow: none;
}
#weTake {
    font-size: 3rem;
}

#weTake h6 {
    
    font-weight: lighter;
    color: #737373;
}

#weTake h1 {
    width: 85%;
}

#navItem {
    order: 1;
}

.imgTaille {
    width: 48px;
    height: 48px;
}

#content1 {
    min-height: 70vh;
    width: 70%;
}
#content1 h2{
    font-size: 40px;
}
#content1 p{
    font-size: 14px;
    color: #737373;
}

#secretaire {
    overflow: hidden;
}
.card {
    border: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.card h5{
    font-size: 16px;
}
#content2,#content3,#content4{
    min-height: 100vh;
}

#content2, #content4{
    background: #FAFAFA;
}

#content4 img{
    height: 50px;
    width: auto;
}





@media screen and (max-width: 767px) {
    #navItem {
        flex-direction: row;
        order: 0;
    }

    #content1 {
        flex-direction: row;
    }

    #burgerBtn {
        order: 2;
    }

    .weTake {
        flex-direction: column;
    }

    #weTake {
        margin-top: 10%;
        font-size: 2.5rem;
        text-align: center;
    }

    #weTake h1 {
        width: 100%;
        font-size: 2rem;
    }

    #weTake h6 {
        font-weight: lighter;
    }

    .firstButton,
    .secondButton {
        width: 50%;
    }
}