body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    text-decoration: none;
}
.fs-14 {
    font-size: 14px;
}

header {
    background: linear-gradient(107.2deg, #FBE38F 1.65%, #F1D256 100.77%);
}
#weTake{
    min-height: 80vh;
    position: relative;
    overflow: hidden;
}
#weTake h2{ 
font-size : 4rem;
}
 .cardWe{
    width:509px;
    transform: translateX(89px);
 }
 .cardGet{
    width: 329px;
    height: 393px;
 }
 .darkCard{
    background: #252B42;
    width: 328px;
    height: 393px;
    transform: scaleY(1.04);
}

#secretaire{
transform: translate(43px,30px);
object-fit: contain;
position: relative;
min-height: 74.5vh;
}

.card-img{
    width: 230px;
    height: 138px;
    object-fit: cover;
    margin-left: -8px;
}
.fondBleu{
    background: #00A0C1;
}
.borderBleu{
    border: 1px solid #00A0C1;
    color: #00A0C1;
}
.firstButton,.secondButton{
    font-size: 14px;
    padding: 13px 0 13px 0;
}
.firstButton{
    width: 100%;
}
.secondButton{
    width: 70%;
}


#content2 .card{
    width: 14.875rem;
    height: 21.25rem;
}

#burgerBtn {
    border: none;
    box-shadow: none;
}
.pGrey{
    color: #737373;
    font-size: 0.875rem;
}

.imgTaille {
    width: 48px;
    height: 48px;
}
.imgTailleGet{
    width: 72px;
    height: 72px;
}

.card {
    border: none;
}

.card h5 {
    font-size: 16px;
}

.ombre {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


#content2,
#content4 {
    background: #FAFAFA;
    position: relative;
}
.content5{
    background : #f3f3f3
}
.lastContain{
    width: 1207px;
}

#content4 img {
height: 50px;
 width: auto;
}

#formNewsletter {
    background: #16697A;
    color: white;
    font-size: 24px;
    z-index: 2;
}
.formNewsLetterBack{
    position: absolute;
    top: 60%;
    width: 100vw;
    min-height: 77px;
    background:#252B42;
    z-index: 1;
}


.btnSubmit{
    border: 1px solid #FFA62B;
    border-radius: 5px;
    color: #FFA62B;
    font-weight: 600;
}
.btnSubmitMid{
    border: 1px solid #FFFFFF;
    border-radius: 5px;
}
.btnOr{
    background: #FFA62B;
}

#footer{
    background: #16697A;
    color: #FAFAFA;
}

@media screen and (max-width: 1432px) {
    #weTake h2{ 
        font-size : 3.8rem;
        }
}
@media screen and (max-width: 1200px) {
  .cardWe{
    transform: translateX(0px);
    display: flex;
    justify-content: center; align-items: center;
    flex-direction: column;
    text-align: center;
  }
}

@media screen and (max-width: 1100px) {
  .darkCard{
    transform: scaleY(1);
  }
  .deckGet{
   flex-direction: column;
   gap: 25px;
  }
}
@media screen and (max-width: 683px) {
    #weTake{
        overflow: inherit;
    }
    #secretaire{
        transform: translate(0px,0px);
    }
    .lastContain{
        width: auto;
    }
}


@media screen and (max-width: 414px) {
    .secondButton{
        max-width:75% ;
    }
}

@media screen and (max-width: 286px) {
    #weTake h2{ 
        font-size : 2rem;
        word-spacing: 0%;
        line-height: 45px;
        width: 100%;
        }
    #weTake h1{
        font-size : 0.5rem;
        }
      
    .secondButton{
        max-width:85% ;
    }
    #formNewsletter {
        min-width: 100%;
    }
}